.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    min-height: 20rem;
    width: 30rem;
    background-color:#1E293B;
    box-shadow: rgb(145, 144, 144) 1px 1px 5rem 0.1rem;
    border-radius: 2rem;
    
}

.container .title{
    margin-bottom: 2rem;
    color: white;
    text-shadow: #ca2f2f 0.1rem 0.1rem 0.5rem;

}

.box-title{
    /* border: solid white 1px; */
    width: 200px;
    height: 50px;
    margin-top: 3rem;   
    text-align: center; 
    color: white;
    
}
